@import 'reset.css';
body {
    margin: 0;
    display: grid;
    font-family: Ha-ck, monospace;
    grid-template-rows: banner 10vh field 90vh;
    background-color: rgb(26, 3, 26);
    color: white;
}

.wrapper {
    margin: 1vw auto;
    width: min(85vh, 98vw)
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr) .2fr;
    grid-template-rows: repeat(6, 1fr) .2fr;
    gap: 1px;
    grid-gap: 1px;
}

.box {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    display: flex;
    justify-content: center;
    padding-top: 50%;
    align-items: center;
    cursor: pointer;
    font-size: 4vh;
    color: white;
    background-color: blue;
}

.checker {
    width: .2fr;
    height: .2fr;
    background-color: cornflowerblue;
}

.checker.selected {
    background-color: aquamarine;
}